<div class="main-banner">
	<h1 class="main-title">NPR Article Scraper</h1>
</div>
<nav>
	<button href="/scrape">Scrape New Articles</button>
</nav>
<div class="all-articles">
	{{!-- <ul> --}}
		{{#each articles}}
		<div class="article">
			<h4 class="article-title">{{title}}</h4>
			<p class="article-summary">{{summary}}</p>
			<a class="article-link" href="{{link}}">Link to article</a>
		</div>
		{{/each}}
	{{!-- </ul> --}}
</div>