<div class="main-banner">
	<h1 class="main-title">NPR Article Scraper</h1>
</div>
<nav>
	<a href="/scrape">Scrape New Articles</a>
</nav>
<div class="all-articles">
	{{#each articles}}
		<div class="article-element">
			<h4 class="article-title">{{title}}</h4>
			<p class="article-summary">{{summary}}</p>
			<a class="article-link" href="{{link}}" target="_blank">Link to article</a>
		</div>
	{{/each}}
</div>