body
{
    background-color: #e0e0e0;
}

.main-banner
{
    text-align: center;

    border-width: 3px;
    border-style: solid;
    border-color: #2c63ae;
    border-radius: 5px;
}

.main-title
{
    font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;

    color: #333;
}

nav
{
    font-weight: bold;

    padding: 1%;

    text-align: center;
}

nav a
{
    padding: 1px;

    text-decoration: none;

    color: black;
    border: 2px solid #2c63ae;
    border-radius: 5px;
    background-color: #fff;
}

nav a:hover
{
    border-width: 3px;
}

.all-articles
{
    text-align: center;
}

.article-element
{
    margin: 1%;
    padding-bottom: 1%;

    border: 2px solid black;
    border-radius: 5px;
    background-color: #fff;
}

.article-title
{
    color: #333;
}

.article-summary
{
    color: #767676;
}

.link
{
    padding: 1px;

    text-decoration: none;

    color: black;
    border: 3px solid #2c63ae;
    border-radius: 5px;
}

.article-link:hover
{
    font-weight: bold;
}

.all-comments
{
    /*border: 2px solid black;*/
    display: none;
}

.comment
{
    margin: 1%;

    border: 1px solid black;
}

.comment-body
{
    padding: 1%;

    text-align: left;
}

.comment-user
{
    padding-left: 6%;

    text-align: left;
}

.comment-time
{
    float: right;

    padding-right: 6%;
}
